* {
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100vw;
    height: 100vh;
    color: white;
    background: url(https://images.unsplash.com/photo-1513297887119-d46091b24bfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.header {
    width: 100%;
    margin: auto;
}

h1 {
    font-size: 9vw;
}

#name {
    background: -webkit-linear-gradient(rgb(226, 77, 77), rgb(150, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   font-size: 10vw;
}

#name:active {
    border-bottom: dotted 20px rgb(150, 0, 0);
}

h2 {
    font-size: 9vw;
}

button {
    width: 60vw;
    height: 10vh;
    border-radius: 5%;
    margin-bottom: 5%;
    color: white;
    font-size: 5vw;
    border: solid 0.5px white;
    background: transparent;
    animation-name: button;
    animation-duration: 1s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

@keyframes button {
0% {
    box-shadow: 1px 1px 1px 8px rgb(15, 2, 2);
    border: none;
}

25% {
    box-shadow: 1px 1px 1px 5px rgb(151, 28, 28);
    border: none;
}

50% {
    box-shadow: 1px 1px 1px 5px rgb(104, 10, 10);
    border: none;
}
100% {
border: none;
}
}

@media (min-width: 800px) {
    .header {width: 80%;}
    h1 {font-size: 8vw;}
    h2 {font-size: 5vw;}
    #name {font-size: 8vw;}
    button {font-size: 4vw;}
}

section {
    width: 100vw;
    height: 100vh;
    color: white;
    background: url(https://images.unsplash.com/photo-1511268011861-691ed210aae8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 5rem;
    text-align: center;
}

.card {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 1px 2px rgb(204, 145, 145);
    border-radius: 10%;
    padding: 1rem;
}

#second {
    background: url(https://images.unsplash.com/photo-1482517967863-00e15c9b44be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

#third {
    background: url(https://images.unsplash.com/photo-1542178036-09c8920d2138?ixlib=rb-1.2.1&auto=format&fit=crop&w=3750&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

#fourth {
    background: url(https://images.unsplash.com/photo-1508161250369-a7ecbdfb67fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    color: rgb(67, 94, 25);
    
}

#last-section h2 {
    padding-bottom: 5vh;
}

#arrow {
    border: none;
    position: relative;
    animation-name: arrow;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes arrow {
From {
    color: black;
    font-size: 4vw;
}

To {
    color: white;
}
}

p {
    font-size: 3vw;
}

p a {
    text-decoration: none;
    font-size: 3vw;
    color: white;
    border-bottom: dotted 3px rgb(204, 145, 145);
    text-shadow: 2px 2px 2px 15px black;
}

p a:focus {
    color: white;
}
